.blue30 {
	color: #1e42be;
	display:block;
	width:30px;
	background: blue
}

.date li.dateYMDs {
	width: 18px;
	background-color: #fff;
}

.date li.dateYMDm {
	width: 35px;
	background-color: #;
}

.date li.dateYMDb {
	width: 68px;
	background-color: #;
}

.date_ {
	height: 30px;
	line-height: 30px;
}

.date_ li {
	display:inline-block;
	height:30px;
	text-align: center;
}

.date_ li.dateYMD {
	width: 40px;
	background-color: #;
}

/* js 공통 */
h1 {
	font-size: 33px;
}

h2, h3, h4, h5, h6 {
	font-size: inherit;
}

.positionR {position: relative;}

.clear {
	clear: both;.
}

.alignC {
	text-align: center !important;
}
.alignJ {
	text-align: justify !important;
}
.inLpdL5 {
	display: inline-block;
	float: left;
	padding-left: 5px
}

.lineL0 {
	border-left: 0 !important;
 }

.inlineSpan {
	display: inline-block;
 }

.inSpanPdL5 {
	display: inline-block;
	padding-left: 5px;
 }

ul, li {
	list-style: none;
}

ul {
	display: table;

	margin-left: auto;
	
	margin-right: auto;

}

.inline {
	display: inline-block !important;
}

.inlineL {
	display: inline-block;
	float: left;
}

ul.ulAlignL {
	display: block;
	text-align: left;
	margin: 0;
}

ul.ulAlignR {
	display: block;
	text-align: right;
	margin: 0;
}

ul.ulAlignL li, ul.ulAlignR li {
	display: inline-block;
}

.pd0 {padding: 0;}
.pd12 {padding: 12px !important;}
.pd30 {padding: 30px;}
.pdL5 {padding-left: 5px;}
.pdL12 {padding-left: 12px;}
.pdR30 {padding-right: 30px !important;}
.pdLR0 {padding-left: 0 !important; padding-right: 0 !important;}
.pdLR10 {padding-left: 10px !important; padding-right: 10px !important;}
.pdT10 {padding-top: 10px;}
.pdb15 {padding-bottom: 15px;}
.pdb20 {padding-bottom: 20px;}
.pdb30 {padding-bottom: 30px;}
.pdb50 {padding-bottom: 50px;}
.pdb60 {padding-bottom: 60px;}

.width5p {width: 5%;}
.width10p {width: 10%;}
.width15p {width: 15%;}
.width20p {width: 20%;}
.width25p {width: 25%;}
.width45p {width: 45%;}
.width55p {width: 55%;}
.width100p {width: 100%;}

.lineh32 {line-height: 32px;}
.lineh90 {line-height: 90%;}
.lineh110per {line-height: 110%;}
.lineh160per {line-height: 160%;}
.lineh200per {line-height: 200%;}
.margin8 {height: 8px;}
.margin59 {height: 59px;}

.bdT {border-top: 1px solid #000 !important;}
.bdT2 {border-top: 2px solid #000 !important;}
.bdR {border-right: 1px solid #000 !important;}
.bdRg {border-right: 1px solid #d1d1d1 !important;}
.bdB {border-bottom: 1px solid #000 !important;}
.bdBg {border-bottom: 1px solid #d1d1d1 !important;}
.bdB0 {border-bottom: 0px !important;}
.bdL0 {border-left: 0px !important;}
.bdR0 {border-right: 0px !important;}
.bdTB0 {border-top: 0; border-bottom: 0;}
.font9 {font-size:9.0pt;}
.font10 {font-size:10.0pt;}
.font11 {font-size:11.0pt;}
.font12 {font-size:12.0pt;}
.font13 {font-size:13.0pt;}
.font14 {font-size:14.0pt;}

/* -------------------------- _년_월용역수수료 및 위수탁관리비 정산서 -------------------------- */
.page_billForm {
	width: 21cm;
	min-height: 29.7cm;
	padding: 2cm;
	margin: 0 auto;
	font-family: 'Nanum Barun Gothic', 'Apple Gothic', 'Malgun Gothic', 'Nanum Gothic', 'Dotum', sans-serif;
	position: relative;
}

.page_billForm .logoNtitWrap {
	margin: auto;
	width: 100%;
	padding: 0 0 15px 0;
}

.page_billForm .logoNtitWrap .logo {
	position: relative;
	line-height: 0;
	width: 38%;
}

.page_billForm .logoNtitWrap .logo ul li.logoimg {
	position: absolute;
	top: 0cm;
	left: 0cm;
	width: 62px;
	line-height: auto;
}

.page_billForm .logoNtitWrap .logo ul li.logotext {
	position: absolute;
	top: 0cm;
	left: 70px;
	font-size: 12px;
	line-height: 46px;
}

.page_billForm .logoNtitWrap .billForm_tit ul li {
	font-size: 20px;
	font-weight: 600;
	text-align: right;
	height: 46px;
	line-height: 46px;
}

.page_billForm .billInfo {
	margin: 0px 0 20px 0;
	line-height: 19px;
	font-size: 12px;
}

.page_billForm .billInfo thead td {
	font-weight: 600;
}

.page_billForm .billInfo td {
	border: 0;
}

.billFormDetail .payment,
.billFormDetail .deduction {
	line-height: 19px;
}

.billFormDetail .deduction {
	position: absolute;
	left: 0;
	bottom: 2cm;
	padding: 0 2cm;
}

.billFormDetail .payment tr td,
.billFormDetail .deduction tr td {
	background: none;
	text-align: right;
	font-size: 12px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	word-break: normal;
	font-family: Arial, sans-serif;
}

.billFormDetail .deduction tr.titRed td {
	background: url('../img/ed6565.gif') repeat;
	text-align: center;
	padding: 5px;
}

.billFormDetail .payment tr.titBlue td {
	background: url('../img/656fed.gif') repeat;
	text-align: center;
	padding: 5px;
}

.billFormDetail table tr.titYellow td {
	background: url('../img/fff000.gif') repeat;
	text-align: center;
	padding: 5px;
}

.billFormDetail .deduction tr.titRed td strong, 
.billFormDetail .payment tr.titBlue td strong {
	color: #fff;
}

.billFormDetail table tr td._titGray {
	background: url('../img/eeeeee.gif') repeat !important;
	text-align: center;
}

.billFormDetail table tr td._titdGray {
	background: url('../img/666666.gif') repeat;
	text-align: center;
	color: #fff;
}

.billFormDetail table tr td.txt {
	background: none !important;
	text-align: right !important;
}

.billFormDetail .email p {
	display: inline-block;
	float: left;
	width: 25%;
	padding: 5px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #000;
	text-align: left;
	font-size: 11px;
	box-sizing: border-box;
}

.billFormDetail .email strong {
	display: inline-block;
	float: left;
	width: 75%;
	padding: 5px;
	margin: 0 0 0 0;
	border-bottom: 1px solid #000;
	text-align: right;
	font-size: 11px;
	letter-spacing: 0.6px;
	box-sizing: border-box;
}

/* 경기일반화물 */
/* -------------------------- 대ㆍ폐차 동의서 -------------------------- */
.gg_agreement {
	font-family: '함초롱바탕'
}

.gg_agreement .gg_agreementTit {
	font-family: '함초롱굴림';
	text-align: center;
	padding: 60px 0 80px 0;
}

.gg_agreement .gg_agreementD {
	font-size: 24px;
	padding: 0 50px;
	text-align: justify;
	box-sizing: border-box;
}
.gg_agreement .companyN, .gg_agreement .registrationNum {
	padding-bottom: 25px;
}
.gg_agreement .date, .gg_agreement .sign {
	padding-top: 60px;
}
.gg_agreement .sign2 {
	padding-top: 40px;
}
.gg_agreement .reference {
	padding-top: 80px;
	font-size: 23px;
}

.gg_agreement .sign ul, .gg_agreement .sign2 ul, {
	width: 100%;
}
.gg_agreement .liW8 {
	display: inline-block;
	float: left;
	width: 8%;
}
.gg_agreement .liW27 {
	display: inline-block;
	float: left;
	width: 27%;
}
.gg_agreement .liW35 {
	display: inline-block;
	float: left;
	width: 35%;
}
.gg_agreement .liW65 {
	display: inline-block;
	float: left;
	width: 65%;
}
/* -------------------------- 화물자동차운송사업허가사항변경신고서(대․폐차) -------------------------- */
.changeReport .bd0 {
	border-bottom: 0;
	padding: 12px 0;
	text-align: center;
	position: relative;
}

.changeReport .mgb0 {
	margin-bottom: 0;
}

.changeReport table tr td {
	background: none;
	text-align: center;
	font-size: 14px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	word-break: normal;
}

.changeReport .changeReportTit {
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-bottom: 0;
	text-align: center;
	font-size: 19px;
	font-weight: 600;
}

.changeReport ul li {
	display: inline-block;
	float: left;
	text-align: center;
}

.changeReport  p.date {
	text-align: center;
	word-break: normal;
	font-family: Arial, sans-serif;
	margin: 4px 0;
}

.changeReport  .textBlock {
	text-align: left;
	line-height: 15px;
	box-sizing: border-box;
}

.changeReport  .textBlock li.li10per {
	width: 10%;
	text-align: right;
	margin-bottom: 4px;
}

.changeReport  .textBlock li.li40per {
	width: 40%;
	text-align: right;
	margin-bottom: 4px;
}

.changeReport  .textBlock li.li50per {
	width: 50%;
	text-align: right;
	margin-bottom: 4px;
}

.changeReport .textBox {
	position: absolute;
	bottom: 0px;
	left: 0;
	text-align: left;
	font-size: 11pt;
	line-height: 17px;
	word-break: normal;
}

.changeReport .localName {
	padding: 0 2%;
	box-sizing: border-box;
	line-height: 18px;
	width: 100%;
}
.changeReport .localName li {
	text-align: left;
	width: 20%;
}
.changeReport .localName li input {
	text-align: left;
}

/* 서울용달 */
/* -------------------------- 동의서 -------------------------- */
.agreementDtail {
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.agreementDtail td {
	padding: 20px 15px;
}

.agreementDtail .agreementTit {
	padding: 28px 0 18px 0;
	line-height: 28px;
}

.agreementDtail .textBlock1 {

	padding: 17px 15px;
	line-height: 24px;

	border-bottom: 0;

}

.agreementDtail .textBlock1 .attach {
	text-align: left;
	padding: 50px 0 26px 0;
}

.agreementDtail .textBlock2 {

	padding: 50px 15px;
	border-top: 0;

	border-bottom: 0;

}

.agreementDtail .textBlock2 .caution {
	display: inline-block;
	float: left;
	width: 8%;
	height: 100px;
	line-height: 36px;
	padding: 14px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #000;
	border-right: 0;
	box-sizing: border-box;
}

.agreementDtail .textBlock2 .cautionDetail {
	display: inline-block;
	float: left;
	width: 92%;
	height: 100px;
	line-height: 24px;
	padding: 14px;
	font-size: 16px;
	text-align: justify;
	border: 1px solid #000;
	box-sizing: border-box;
}

.agreementDtail .date .deft {
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.agreementDtail .date .denter {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
}

.agreementDtail .date .dight {
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

.agreementDtail .date .dight ul{
	float: right;
}

.agreementDtail .date .dight ul li {
	

display: inline-block;
	text-align: right !important;
	

font-size: 19px;

	padding-left: 4px;

}

.agreementDtail .signBlock1 .seft {
	border-right: 0;
	border-top: 0;
}

.agreementDtail .signBlock1 .senter {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	font-size: 15px;
	line-height: 18px;
}

.agreementDtail .tit18 {
	font-size: 18px;
}

.agreementDtail .sight {
	border-top: 0;
	border-bottom: 0;
	padding: 0 2%;
	box-sizing: border-box;
}

.agreementDtail .signBlock1 .sight ul {
    display: block;
	line-height: 20px;
}

.agreementDtail .signBlock1 .sight ul .name {
	display: inline-block;
	float: left;
	width: 78%;
	border-bottom: 1px solid #000;
	text-align: center;
}

.agreementDtail .signBlock1 .sight ul .signBlock1 {
	display: inline-block;
	float: left;
	width: 18%;
	color: #989898;
}

.agreementDtail .to {
	text-align: left;
	font-size: 27px;
}

.agreementDtail .signBlock2 {
	padding: 16px 40px 16px 16px;
}

.agreementDtail .signBlock2 .textBox {
	display: inline-block;
	float: left;
	border: 1px solid #000;
	border-right: 0;
	width: 75%;
	font-size: 15px;
	height: 60px;
	line-height: 18px;
	padding: 12px 0;
	text-align: center;
	box-sizing: border-box;
}

.agreementDtail .signBlock2 .signBox {
	display: inline-block;
	float: left;
	border: 1px solid #000;
	width: 25%;
	font-size: 17px;
	height: 60px;
	line-height: 60px;
	box-sizing: border-box;
}
/* 한글공통 */
p.hstyle0, li.hstyle0, .hstyle0 {
	style-name: "바탕글";
	margin: 0 0 0 0pt;
	text-align: justify;
	text-indent: 0.0pt;
	line-height: 160%;
	font-size: 10.0pt;
	font-family: 함초롬바탕;
	letter-spacing:0.0pt;
	font-weight:normal;
	font-style:normal;
	color:#000000;
}
.hstyle0AlignC {
	style-name: "바탕글";
	margin: 0 0 0 0pt;
	text-align: center;
	text-indent: 0.0pt;
	line-height: 160%;
	font-size: 10.0pt;
	font-family: 함초롬바탕;
	letter-spacing:0.0pt;
	font-weight:normal;
	font-style:normal;
	color:#000000;
}

/* -------------------------- 서울용달_동의서 -------------------------- */
.powerOfAttorney .plsAttach {
	border: none;
}

.powerOfAttorney .plsAttachTit {
	font-size: 20.0pt;
	font-weight: bold;
	line-height:160%;
}

.powerOfAttorney .plsAttach td {
	border-left: solid #000000 0.4pt;
	border-right: solid #000000 0.4pt;
	border-top: solid #000000 0.4pt;
	border-bottom: solid #000000 0.4pt;
	padding: 1.4pt 5.1pt 1.4pt 5.1pt
}

.powerOfAttorney .plsAttach td span {
	line-height: 160%;
}
/* -------------------------- 서울용달_화물자동차 운송사업 허가사항 변경신고서 -------------------------- */
.changeNotice {
	position: absolute;
	bottom: 0;
	padding: 0;
}

.changeNotice td span {
	font-family: '돋움'
}

.changeNotice .topInfo span {
	font-size: 8.7pt;
	letter-spacing: 0.6pt;
}

.changeNotice .topInfo strong {
	font-size: 8.7pt;
	letter-spacing: 0.6pt;
}

.changeNotice .topLine {
	border: 0;
	padding: 1.4pt
}

.changeNotice .fontS {
	font-size: 7.8pt;
	letter-spacing: 0.5pt;
	line-height:160%;
}

.changeNotice .changeNoticeTit {
	font-size: 15.5pt;
	font-family: '한양견고딕','한컴돋움';
	letter-spacing: -1.1pt;
	font-weight: bold;
	line-height: 200%;
}

.changeNotice .topMargin {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid #5d5d5d 0.4pt;
	padding: 0pt;
}

.changeNotice .receiptTit {
	border-left: none;
	border-right: none;
	border-top: solid #5d5d5d 0.4pt;
	border-bottom: solid #5d5d5d 0.4pt;
	padding: 2.8pt 2.8pt 1.4pt
}

.changeNotice .receiptD {
	border-left: none;
	border-right: solid #5d5d5d 0.4pt;
	border-top: solid #5d5d5d 0.4pt;
	border-bottom: solid #5d5d5d 0.4pt;
	padding: 2.8pt 2.8pt 1.4pt;
}

.changeNotice .Date {
	border-left: solid #5d5d5d 0.4pt;
	border-right: none;
	border-top: solid #5d5d5d 0.4pt;
	border-bottom: solid #5d5d5d 0.4pt;
	padding: 2.8pt 2.8pt 1.4pt;
}

.changeNotice .margin8 {
	height: 8px;
}

.changeNotice .margin59 {
	height: 59px;
}

.changeNoticeTable2, .changeNoticeTable3 {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.changeNoticeTable2 td, .changeNoticeTable3 td, .changeNoticeTable4 td {
	border: 0;
	font-family: '돋움';
}

.changeNoticeTable3 .textBlock3 {
	padding: 20px 25px !important;
	box-sizing: border-box;
}

.changeNoticeTable3 .3declarant li {
	display: inline-block !important;
}
/* 대구일반 */
/* -------------------------- 대구일반_화물자동차 운송사업 허가사항 변경신고서 -------------------------- */
.dg_changeNotice {
	position: absolute;
	bottom: 0;
	padding: 0;
}

.dg_changeNotice td span {
	font-family: '돋움'
}

.dg_changeNotice .topInfo span {
	font-size: 8.7pt;
	letter-spacing: 0.6pt;
}

.dg_changeNotice .topInfo strong {
	font-size: 8.7pt;
	letter-spacing: 0.6pt;
}

.dg_changeNotice .topLine {
	border: 0;
	padding: 1.4pt
}

.dg_changeNotice .fontS {
	font-size: 7.8pt;
	letter-spacing: 0.5pt;
	line-height:160%;
}

.dg_changeNotice .dg_changeNoticeTit {
	font-size: 15.5pt;
	font-family: '한양견고딕','한컴돋움';
	letter-spacing: -1.1pt;
	font-weight: bold;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.dg_changeNotice .topMargin {

	border-bottom: 0;

	padding: 0pt;

}

.dg_changeNotice .receiptTit, 
.dg_changeNotice .receiptD, 
.dg_changeNotice .date {
	padding: 2.8pt 2.8pt 1.4pt
}

.dg_changeNotice .margin8 {
	height: 8px;
}

.dg_changeNotice .margin59 {
	height: 59px;
}

.dg_changeNoticeTable2, .dg_changeNoticeTable3 {
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
}

.dg_changeNoticeTable2 td, .dg_changeNoticeTable3 td, .dg_changeNoticeTable4 td {
	border: 0;
	font-family: '돋움';
}

.dg_changeNoticeTable3 .textBlock3 {
	padding: 12px !important;
	box-sizing: border-box;
}

.dg_changeNoticeTable3 .3declarant li {
	display: inline-block !important;
}