* {margin:0;  padding:0; box-sizing: border-box;-moz-box-sizing: border-box;}
ul{list-style:none;}
a {text-decoration:none;}
img {  vertical-align:center;}

/*공통*/

.pdt20 {padding-top: 20px}
.blue {color: #1e42be;display:block;width:100%;}

.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}

.pdt5 {padding-top: 5px}
.pdt10 {padding-top: 10px}
.pdt15 {padding-top: 15px}

.pdt30 {padding-top: 30px}
.pdt40 {padding-top: 40px}
.pdt50 {padding-top: 50px}

.pdb30 {padding-bottom: 30px}
.pdb40 {padding-bottom: 40px}

body {
    background-color: #ffffff;
    font-size: 15px;
    color: #333333;
    -moz-box-sizing: border-box;
    font-family: '휴먼명조','궁서체','바탕체','굴림체', serif;
    letter-spacing: -0.2px;
}

.mobileContract {
    width: 100%;
    padding: 3%;
    font-family: '굴림체';
    font-size: 12px;
}

.mobileContract #header {
    width: 100%;
    position: relative;
    /* background-color: red; */
}

.mobileContract #header span {
    position:absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.mobileContract #header span img {
    width: 60px;
}

.mobileContract #header span.logoLeft {
    left: 0;
}

.mobileContract #header span.logoRight {
    right: 0;
}

.mobileContract #header .title {
    text-align: center;
    width: 100%;
    height:  100%;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.mobileContract #header .title li {
    margin-bottom: 5px;
}

.mobileContract #header .title .titSmall {
    font-size: 0.725rem;
}

.mobileContract #header .title .titCompany {
    font-size: 1.25rem;
    color: #1e42be;
    font-weight: 600;
}

.mobileContract #header .title .titName {
    border-bottom: 2px solid #333333;
    font-size: 0.725rem;
    padding-bottom: 10px;
    font-weight: 600;
}

.mobileContract .contractText .confirm {
	width:100%;
}

.mobileContract .contractText .confirm p {
	line-height: 19px;
}

.mobileContract .contractText .confirm .basic {
    
}

.mobileContract .contractText .confirm .basic dt {
	font-weight: bold;
	margin-bottom: 5px;
	display: inline;
	margin-right: 20px;
}

.mobileContract .contractText .confirm .basic dd {
	/* margin-left: 12px; */
	line-height: 20px;
	display: inline;
}

.mobileContract .contractText .confirm .date {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 10px auto;
    text-align: center;
}

.mobileContract .contractText .confirm .date dt {
    flex: 3;
    color: #1e42be;
    font-weight: 600;
}

.mobileContract .contractText .confirm .date dd {
    flex: 1;
}

.mobileContract .tableBasic .tableTitle {
    background-color: #eaeaea;
    border: 1px solid #999999;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: -1px;
}

.mobileContract .tableBasic .contracTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999999;
    font-size: 12px;
}

.mobileContract .tableBasic .contracTable th{
    background-color: #f5f5f5;
    height: 30px;
    border-bottom:1px solid #999999;
    font-weight: 600;
}

.mobileContract .tableBasic .contracTable td {
    height: 40px;
    border: 1px solid #999999;
    text-align: center;
}

.mobileContract .tableBasic .contracTable td img {
    height: 100%;
}

.mobileContract .tableBasic .signBg {
    background-color: #f5f5f5;
    height: 100%;
}

.mobileContract .tableBasic .signBg .signText {
    background-color: #ffffff;
    height: 100px;
}

/*//날짜*/
.date {
	height: 30px;
	line-height: 30px;
}

.date li {
	display: inline;
	height:30px;
	/* float:left; */
	text-align: center;
}

.date li.dateYMD {
	width: 40px;
}


/*공통 테이블*/
table.basic {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: keep-all;
	font-size: 12px;
    margin-top:15px;
}

table.basic tr {
}

table.basic tr th {
    vertical-align: top;
    text-align: left;
    padding: 5px 0;
}

table.basic tr td{
	border: 0px solid #000;%;
	vertical-align: top;
	padding-bottom: 7px;
}
