@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {padding: 0; margin: 0;}
html, body {margin: 0;padding: 0;border: 0;height: 100%;font-family: 'Noto Sans', sans-serif;}
he { font-family:'Apple Gothic', 'Malgun Gothic', 'Dotum', sans-serif; color: #333; margin: 0; padding: 0; border: 0; outline: 0; box-sizing: border-box; }
body {line-height:1.5;font-size:14px;background: #fff;color: #2c3941;word-wrap: break-word;-webkit-text-size-adjust: none;height: 100%;}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img { float: left; margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }
table { width:auto; border-collapse: collapse;border-spacing: 0; }
a {text-decoration: none;color: inherit;}
ul, li, ol, dl {height: auto;overflow: hidden;list-style: none;}

.pdt5 {padding-top: 5px;}
.pdt10 {padding-top: 10px;}
.pdt20 {padding-top: 20px;}
.pdt30 {margin-top: 30px;}
.pdb5 {padding-bottom: 5px;}
.pdb10 {padding-bottom: 10px;}
.pdb30 {padding-bottom: 30px;}
.pdb50 {padding-bottom: 50px;}

.mgt5 {margin-top: 5px;}
.mgt10 {margin-top: 10px;}
.mgt20 {margin-top: 20px;}
.mgb5 {margin-bottom: 5px;}
.mgb10 {margin-top: 10px;}